@{
    Layout = null;
    int i = 0;
    int b = 0;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css"  rel="stylesheet" type="text/css" />
    <link href="/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/plugins/Flexigrid/css/flexigrid.css" rel="stylesheet" />
    <style>
        .addcolor {
            background-color: #f7f7f7;
        }
    </style>

</head>
<body class="fixed-top">


    <div id="test">

        <div class="row">
            <div class="span12">
                <div class="widget box light-grey">
                    <div class="widget-title">
                        <h4><i class="fa fa-file-text" aria-hidden="true" style="margin-left:20px;"></i>批号管理</h4>
                        <div class="actions">
                            <a class="btn btn-primary" href="javascript:void(0)" onclick="location.href='InvLotEdit'"><i class="icon-pencil"></i>&nbsp;新增</a>
                            <a class="btn btn-danger" href="javascript:void(0)" onclick="Public.BatchDel('InvLotDel', 'InvLotList')"><i class="icon-trash"></i>&nbsp;删除</a>
                            <a class="btn btn-info" href="javascript:void(0)" onclick="location.href = 'InvLottoExcel?1=1&@(ViewBag.parme)'"><i class="icon-download"></i>&nbsp;导出</a>
                        </div>
                    </div>
                    <div class="widget-body" style="margin-left:30px;">
                        <div class="">
                            <form class="form-horizontal" action="javascript:void(0)">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <input id="txtSearch" type="text" class="form-control" placeholder="请输入关键字查询" />
                                        <a id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="selectbylike();"><i class="icon-search"></i>&nbsp;搜索</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table class="table table-hover table-bordered table-striped" id="tabInfo">
                            <thead>
                                <tr class="widget-title">
                                    <th style="width: 8px;"><input type="checkbox" class="group-checkable" onclick="InvLot.SelectAll(this)" /></th>
                                    <th class="hidden-480">批号</th>
                                    <th class="hidden-480">产品编号</th>
                                    <th class="hidden-480">产品名称</th>
                                    <th class="hidden-480">备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in ViewBag.list)
                                {


                                    <tr class="@(i % 2 == 0 ? "" : "addcolor")">
                                        <td><input name="user_item" class="checkboxes" data="@item.fid" value="@item.fid" type="checkbox"></td>
                                        <td>@item.lot_no</td>
                                        <td>@item.p_no</td>
                                        <td>@item.pname</td>
                                        <td>@item.remark</td>
                                        <td><a class="icon-edit" href="javascript:void(0)" onclick="location.href = 'InvLotEdit?fid=@item.fid'" title="编辑"><i class="fa fa-pencil" aria-hidden="true"></i> </a>&nbsp;&nbsp;<a class="icon-remove" href="javascript:void(0)" onclick="InvLot.Delete('@item.fid')" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                    </tr>

                                    i++;
                                }
                            </tbody>
                        </table>
                        <div class="row" id="mypager">
                            <div class="pager" id="pager">
                               @if (ViewBag.count > 10)
                               {
                                <div style="float:right; margin-right:80px">
                                    <span class="form-inline">
                                        <select class="form-control" style="width: 120px;" id="pagesize" onchange="changepagesize()" number>
                                            <option value="10">每页条数</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </span>

                                    @if (ViewBag.pageno != 1)
                                    {
                                      
                                            <a class="btn btn-default" href="InvLotList?pageno=1&pagesize=@ViewBag.pagesize&@ViewBag.parme">首页</a>
                                            <a class="btn btn-default" href="InvLotList?pageno=@(ViewBag.pageno-1)&pagesize=@ViewBag.pagesize&@ViewBag.parme">上一页</a>                                       
                                    }
                                    @for (int a = ViewBag.pageno; a <= ViewBag.pagecount; a++)
                                    {
                                        b++;
                                        
                                            <a class="btn btn-default @(ViewBag.pageno==a? "active" : "") " href="InvLotList?pageno=@a&pagesize=@ViewBag.pagesize&@ViewBag.parme">@a</a>                                      
                                        if (b > 9)
                                        {
                                            break;
                                        }

                                    }

                                    @if (ViewBag.pageno != ViewBag.pagecount)
                                    {
                                      
                                            <a class="btn btn-default" href="InvLotList?pageno=@(ViewBag.pageno+1)&pagesize=@ViewBag.pagesize&@ViewBag.parme">下一页</a>                                                                               
                                            <a class="btn btn-default" href="InvLotList?pageno=@ViewBag.pagecount&pagesize=@ViewBag.pagesize&@ViewBag.parme">尾页</a>                                        
                                    }

                                    <span class="form-inline">
                                        <input class="pageIndex form-control" value="@ViewBag.pageno" style="width:60px;text-align:center" type="number" />
                                    </span>                                    
                                </div>
                               }
                                <div style="float:left;">
                                    <span>
                                        当前第<span style="font-size:16px; font-weight:bold;margin:10px;">@ViewBag.pageno</span>页
                                        <span style="font-size:22px; font-weight:bold;margin:10px;">/</span>共
                                        <span style="font-size:16px; font-weight:bold;margin:10px;">@ViewBag.pagecount</span>页
                                        <span style="font-size:16px; font-weight:bold;margin:10px;">@ViewBag.count</span>条数据
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Foot")
 

    <script>
     function changepagesize() {
                var pagesize = $("#pagesize").val();
                location.href = "InvLotList?pageno=@ViewBag.pageno&@ViewBag.parme&pagesize=" + pagesize;
            }



    function selectbylike() {
        var keysname=$("#txtSearch").val();
        location.href = "InvLotList?keysname=" + keysname+"";
    }


    </script>

</body>
</html>
