@{
    Layout = null;
    int i = 0;
    int b = 0;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/plugins/Flexigrid/css/flexigrid.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/Theme/selector/css/ion.calendar.css" />

    <style>
        .addcolor {
            background-color: #f7f7f7;
        }
    </style>

</head>
<body class="fixed-top">


    <div class="row">
        <div class="span12">
            <div class="widget box light-grey">
                <div class="widget-title">
                    <div class="widget-title">
     
                            <h4><i class="fa fa-file-text" aria-hidden="true" style="margin-left:20px;"></i>上传激活统计</h4>
                      
                        <div class="actions">
                            <a class="btn btn-info " href="/BasicData/PackaUploadDataToExcel"><i class="icon-download"></i>&nbsp;导出</a>
                        </div>
                    </div>
                    <div class="widget-body" style="margin-left:30px;">
                        <div class="">
                            <form class="form-horizontal" action="javascript:void(0)">
                                <div class="form-group">
                                    <div class="form-inline">
                                        
                                        <input type="text" class="date startdate form-control" placeholder="起始日期" style="width:120px" />~
                                        <input type="text" class="date enddate form-control" placeholder="结束日期" style="width:120px" />
                                        <a id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="selectbylike();"><i class="icon-search"></i>&nbsp;搜索</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table class="table table-hover table-bordered table-striped" id="tabInfo">
                         
                                <thead>
                                    <tr class="widget-title">
                                        
                                        <th class="hidden-480">日期</th>
                                        <th class="hidden-480 hide">包装入库数量</th>
                                        <th class="hidden-480">上传激活数量</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.list)
                                    {

                                        <tr class="@(i % 2 == 0 ? "" : "addcolor")">

                                            <td>@(DateTime.Parse(item.date.ToString()).ToString("yyyy-MM-dd"))</td>
                                            <td class="hide">@item.packaunm</td>
                                            <td>@item.xtupnum</td>                                       
                                        </tr>

                                        i++;
                                    }
                                </tbody>
                           
                        </table>
                        <div class="row" id="mypager">
                            <div class="pager" id="pager">
                                @if (ViewBag.count > 10)
                                {
                                    <div style="float:right; margin-right:80px">
                                        <span class="form-inline">
                                            <select class="form-control" style="width: 120px;" id="pagesize" onchange="changepagesize()" number>
                                                <option value="10">每页条数</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </span>

                                        @if (ViewBag.pageno != 1)
                                        {
                                            <a class="btn btn-default" href="/BasicData/PackaUploadCount?pageno=1&pagesize=@ViewBag.pagesize&@ViewBag.parme">首页</a>
                                            <a class="btn btn-default" href="/BasicData/PackaUploadCount?pageno=@(ViewBag.pageno-1)&pagesize=@ViewBag.pagesize&@ViewBag.parme">上一页</a>
                                        }
                                        @for (int a = ViewBag.pageno; a <= ViewBag.pagecount; a++)
                                        {
                                            b++;

                                            <a class="btn btn-default @(ViewBag.pageno==a? "active" : "") " href="/BasicData/PackaUploadCount?pageno=@a&pagesize=@ViewBag.pagesize&@ViewBag.parme">@a</a>

                                            if (b > 9)
                                            {
                                                break;
                                            }

                                        }

                                        @if (ViewBag.pageno != ViewBag.pagecount)
                                        {
                                            <a class="btn btn-default" href="/BasicData/PackaUploadCount?pageno=@(ViewBag.pageno+1)&pagesize=@ViewBag.pagesize&@ViewBag.parme">下一页</a>
                                            <a class="btn btn-default" href="/BasicData/PackaUploadCount?pageno=@ViewBag.pagecount&pagesize=@ViewBag.pagesize&@ViewBag.parme">尾页</a>
                                        }

                                        <span class="form-inline">
                                            <input class="pageIndex form-control number" id="pageno" onchange="changepagenum();" value="@ViewBag.pageno" style="width:100px; text-align:center" type="number" max="@ViewBag.pagecount" min="1" />
                                        </span>
                                    </div>
                                }
                                <div style="float:left;">
                                    <span>
                                        当前第<span style="font-size:16px; margin:10px;">@ViewBag.pageno</span>页
                                        <span style="font-size:22px;margin:10px;">/</span>共
                                        <span style="font-size:16px;margin:10px;">@ViewBag.pagecount</span>页
                                        <span style="font-size:16px;margin:10px;">@ViewBag.count</span>条数据
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Foot")
    <script src="~/Content/Theme/selector/js/moment.min.js"></script>         <!--日期-->
    <script src="~/Content/Theme/selector/js/moment.zh-cn.js"></script>       <!--日期-->
    <script src="~/Content/Theme/selector/js/ion.calendar.min.js"></script>   <!--日期-->

    <script>

    //日期
    $(function () {
        $('.date').each(function () {
            $(this).ionDatePicker({
                lang: 'zh-cn',
                format: 'YYYY-MM-DD'
            });
        });
    });



    function changepagesize() {
        var pagesize = $("#pagesize").val();
        location.href = "/BasicData/PackaUploadCount?pageno=@ViewBag.pageno&@Html.Raw(ViewBag.parme)&pagesize=" + pagesize;
    }


    function changepagenum() {
        var pageno = $("#pageno").val();

        location.href = "/BasicData/PackaUploadCount?pagesize=@ViewBag.pagesize&@Html.Raw(ViewBag.parme)&pageno=" + pageno;
    }
    function selectbylike() {
        var Detailname = $("#txtSearch").val();
        var startdate = $(".startdate").val();
        var enddate = $(".enddate").val();
        if (enddate < startdate) {
            alert("结束日期不能小于起始日期");
        } else {
            location.href = "PackaUploadCount?Detailname=" + Detailname + "&startdate=" + startdate + "&enddate=" + enddate + "&type=@ViewBag.type";
        }

    }


</script>

</body>
</html>
