@{
    Layout = null;
    int i = 0;
    int b = 0;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css"  rel="stylesheet" type="text/css" />
    <link href="/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/plugins/Flexigrid/css/flexigrid.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/Theme/selector/css/ion.calendar.css" />

    <link rel="stylesheet" href="/Content/Theme/selector/css/upload.css" />
    <style>
        .addcolor {
            background-color: #f7f7f7;
        }
    </style>

</head>
<body class="fixed-top">


  
        <div class="row">
            <div class="span12">
                <div class="widget box light-grey">
                    <div class="widget-title">
                        <div class="widget-title">
                            <h4><i class="fa fa-file-text" aria-hidden="true" style="margin-left:20px;"></i>出库数据明细</h4>
                            <div class="actions">
                                 @if (ViewBag.delyn == "Y") { 
                                <a class="btn btn-danger" href="javascript:void(0)" onclick="Public.BatchDel('ShipDel', 'ShipList?pageno=@ViewBag.pageno')"><i class="icon-trash"></i>&nbsp;删除勾选</a>
                                 }
                                <a class="btn btn-primary" href="javascript:void(0)" onclick="location.href='ShipList?dc=ok@(ViewBag.parme)'"><i class="icon-pencil"></i>&nbsp;导出</a>
                            </div>
                        </div>
                        <div class="widget-body" style="margin-left:30px;">
                            <div class="">
                                <form class="form-horizontal" action="javascript:void(0)">
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <input id="txtSearch" type="text" class="form-control" placeholder="输入单号/条码查询" /> 
                                            
                                            <input type="text" class="date startdate form-control" placeholder="起始日期" value="@(ViewBag.startdate==null? "" : ViewBag.startdate)" style="width:120px" />~
                                            <input type="text" class="date enddate form-control" placeholder="结束日期" value="@(ViewBag.enddate==null? "" : ViewBag.enddate)" style="width:120px" />
                                            <input type="text" id="cpname" name="cpname" placeholder="产品|经销商" class="form-control" />
                                            
                                            <a id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="selectbylike();"><i class="icon-search"></i>&nbsp;搜索</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <table class="table table-hover table-bordered table-striped" id="tabInfo">
                                <thead>
                                    <tr class="widget-title">
                                        <th style="width: 8px;"><input type="checkbox" name="selall" class="group-checkable" onclick="Public.SelectAll(this)" /></th>
                                        <th class="hidden-480">出库单号</th>     
                                        <th class="hidden-480">条码</th>                                 
                                        <th class="hidden-480">出库日期</th>
                                        <th class="hidden-480">产品编号|名称|规格</th>
                                        <th class="hidden-480">经销商编号|名称</th>                                      
                                        <th class="hidden-480">数量</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in ViewBag.list)
                                    {

                                        <tr class="@(i % 2 == 0 ? "" : "addcolor")">
                                            <td><input name="user_item" class="checkboxes" data="@item.fid" value="@item.fid" type="checkbox"></td>
                                            <td>@item.ship_no</td>   
                                            <td>@item.bsnno</td>                                         
                                            <td>@item.ship_date</td>
                                            <td>@item.p_no | @item.pname | @hmbzbfwfc.Commons.DataEnum.GetPType(item.p_no)</td>
                                            <td>@item.cu_no | @item.cu_name</td>                                          
                                            <td>@item.mqty</td>
                                            <td>
                                                 @if (ViewBag.delyn == "Y") { 
                                                <a class="icon-remove" href="javascript:void(0)" onclick="Public.Delete('@item.fid','ShipDel','ShipList?pageno=@ViewBag.pageno')" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                 }
                                            </td>
                                        </tr>

                                        i++;
                                    }
                                    <tr>
                                        <td colspan="6" style="text-align:right">合计：@ViewBag.zj</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" id="mypager">
                                <div class="pager" id="pager">
                                    @Html.Partial("_Pages")
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    @Html.Partial("_modal_cus")

                </div>
            </div>
        </div>

        @Html.Partial("_Foot")
        <script src="~/Content/Theme/selector/js/moment.min.js"></script>         <!--日期-->
        <script src="~/Content/Theme/selector/js/moment.zh-cn.js"></script>       <!--日期-->
        <script src="~/Content/Theme/selector/js/ion.calendar.min.js"></script>   <!--日期-->

        <script>

            $(function () {
                $('body').on('hidden.bs.modal', '.modal', function () {
                    $(this).removeData('bs.modal');
                });
            });

           //日期
           $(function () {
               $('.date').each(function () {
                   $(this).ionDatePicker({
                       lang: 'zh-cn',
                       format: 'YYYY-MM-DD'
                   });
               });
           });                  
        
           function selectbylike() {
               var shipname = $("#txtSearch").val();
               var startdate = $(".startdate").val();
               var enddate = $(".enddate").val();
               var cpname = $("#cpname").val();
               if (enddate < startdate) {
                   alert("结束日期不能小于起始日期");
               } else {
                   location.href = "ShipList?selparme=" + shipname + "&startdate=" + startdate + "&enddate=" + enddate + "&cpname=" + cpname;
               }
        
           }
        


</script>

</body>
</html>
