@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/font-awesome4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/plugins/jbox-v2.3/jBox/Skins/Gray/jbox.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/plugins/Flexigrid/css/flexigrid.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/Theme/selector/css/ion.calendar.css" />
    <style>
        .error{width:100%;}
    </style>
</head>
<body class="fixed-top">

    <div id="body">

        <div class="row">
            <div class="span12">
                <div class="widget box light-grey">
                    <div class="widget-title">
                        <h4><i class="fa fa-file-text" aria-hidden="true" style="margin-left:20px;"></i>产品入库扫描</h4>

                    </div>

                    <div class="tab-pane active" id="widget_tab1">
                        <form id="FgiForm">
                            <table class="formtab_user table table-bordered table-hover mytable">
                                <tbody>
                                    <tr>
                                        <td colspan="4" style="text-align:center;">
                                            <a href="SalFgiScanPage" class="btn btn-info"><i class="fa fa-refresh"></i>重新扫描</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style=" text-align:right; width:20%;">入库日期</td>
                                        <td style="width:30%;">
                                            <input type="text" id="rkrq" class="form-control adate " value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" name="ship_date" style="width:182px" />
                                        </td>
                                        <td style=" text-align:right; width:20%;">单号</td>
                                        <td style="width:30%;">
                                            <input type="text" id="dh" class="form-control " readonly value="@ViewBag.fgino" name="ship_no" style="width:182px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style=" text-align:right;">批号</td>
                                        <td >
                                            <input type="text" placeholder="批号" class="form-control" name="lot_no" style="width:182px" />
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style=" text-align:right;">库别</td>
                                        <td>
                                            <select name="st_no" id="kb" class="form-control" style="width:182px;">
                                                @foreach (var item in ViewBag.kb)
                                                {
                                                    <option value="@item.st_no">@item.st_name</option>
                                                }
                                            </select>
                                        </td>
                                        <td style=" text-align:right;">产品</td>
                                        <td>
                                            <input type="text" onclick="getprod();" readonly style="width:182px;background-color: #fff;" id="pname" name="pname" class="form-control" data-toggle="modal" data-target=".modal_cp" required />
                                            <input type="hidden" id="pno" name="p_no" />
                                        </td>
                                    </tr>


                                    <tr>
                                        <td style=" text-align:right;">件数</td>
                                        <td><input type="text" class="form-control " readonly value="" name="js" id="js" style="width:182px" /></td>
                                        <td style=" text-align:right;">产品数量</td>
                                        <td><input type="text" class="form-control " readonly value="" name="cpsl" id="cpsl" style="width:182px" /></td>
                                    </tr>

                                    <tr style="height: 130px;">
                                        <td style=" text-align:right;">条码编号</td>
                                        <td>
                                            <input type="text" class="form-control " value="" name="bsnno" id="tmbh" style="width:182px"  />
                                            <button type="submit" class="btn btn-info" style="margin: 10px 50px;"><i class="fa fa-hdd-o" aria-hidden="true"></i>保存</button>
                                        </td>
                                        <td colspan="2" id="result" style="height:130px; text-align: center;color: red;overflow: auto;position: absolute;width: 30%;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                     @Html.Partial("_modal_pro");

                    @Html.Partial("_modal_vender");
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Foot") 
    <script src="/Content/Theme/selector/js/moment.min.js"></script>         <!--日期-->
    <script src="/Content/Theme/selector/js/moment.zh-cn.js"></script>       <!--日期-->
    <script src="/Content/Theme/selector/js/ion.calendar.min.js"></script>   <!--日期-->
    <script type="text/javascript" src="/Content/Theme/Validate/jquery.validate.min.js"></script>      <!--验证-->
    <script type="text/javascript" charset="GBK" src="/Content/Theme/Validate/messages_zh.js"></script><!--验证-->
    <script>

        //日期
        $(function () {
            $('.adate').each(function () {
                $(this).ionDatePicker({
                    lang: 'zh-cn',
                    format: 'YYYY-MM-DD hh:mm:ss'
                });
            });
        });


      
        
       
        function submitfgidata() {

            var data = $("#FgiForm").serialize();
            $.ajax({
                type: "post",
                url: "/LogisticsManage/SalFgiScan",
                data: data,
                dataType: "json",
                success: function (data) {
                    $("#result").prepend(data["data"]);
                    if (data["status"] == true) {
                        $("#js").val(data["js"]);
                        $("#cpsl").val (data["cpsl"]);
                    }
                    $("#tmbh").val("");
                }, error: function (data, status, e) {

                },
            });
        }

        document.onkeydown = function mykeyDown(e) {
            e = e || event;
            if (e.keyCode == 13) {
                $.validator.setDefaults({
                    submitHandler: function () {
                        submitfgidata();
                    }
                });
            }
        }

        $.validator.setDefaults({
            submitHandler: function () {
                submitfgidata();
            }
        });
        $().ready(function () {
            $("#FgiForm").validate();
        });
      

  
    </script>



</body>
</html>
